# ==========================
# Dependencies
# ==========================

node_modules/
**/node_modules/

# ==========================
# Environment
# ==========================

.env
.env.*
!.env.example

# ==========================
# Firebase Admin
# ==========================

serviceAccountKey.json
**/serviceAccountKey.json

# ==========================
# Firebase
# ==========================

.firebase/
firebase-debug.log

# ==========================
# Build
# ==========================

dist/
build/

# ==========================
# Cache
# ==========================

.vite/
.cache/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Misc
# ==========================

*.tmp
*.temp

digest.txt

functions/lib
*/lib